// 圆角设置
$border-radius-inner     = 20px 20px 20px 20px;
$border-radius           = 20px;

// 中文字体
$font-family-monospace    = consolas, Menlo, monospace, $font-family-base;
$font-family-monospace    = get_font_family('codes'), consolas, Menlo, monospace, $font-family-base if get_font_family('codes');

// 文字大小
$font-size-base           = 16px;
$font-size-smallest       = 13.5px; // 副标题
$font-size-smaller        = 13px; // 侧边栏
$font-size-small          = 14px; // 文章小标题
$font-size-medium         = 16px;
$font-size-large          = 17px; // 正文
$font-size-larger         = 1.35em;
$font-size-largest        = 24px; // 标题

// 小型代码样式
$code-font-family               = $font-family-monospace;
$code-foreground                = #C72541;
$code-background                = #F9F2F4;

// 页面背景色
$body-bg-color                =  #1F2D3B;